.header-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 2px;
}
